

;; This is a SAMPLE .emacs file
;; Feel free to use this as a base for customizing emacs
(server-start)

;;(load "~/.emacs.d/haskell-mode-2.4/haskell-site-file")
(load "~/.emacs.d/ido.el")

;;(load "~/.emacs.d/ipython.el")
;;(require 'ipython)
(setq-default py-indent-offset 2)
(menu-bar-mode 0)

(setq-default indent-tabs-mode nil)

;; Switch to visible bell instead of audio bell
(setq-default visible-bell t)
(setq-default bell-inhibit-time 10)

(show-paren-mode t)
(setq show-paren-style 'mixed)

(tool-bar-mode 0)
(menu-bar-mode 0)
(setq-default case-fold-search t)
(global-set-key "\M-g"  'goto-line)
(global-set-key "\M-c"  'compile)
(global-set-key "\M-\\"  'term-line-mode)

;; Set ctrl-arrow keys to move words/pages
(global-set-key "\M-[C" 'forward-word)
(global-set-key "\M-[D" 'backward-word)
(global-set-key "\M-[B" 'scroll-up)
(global-set-key "\M-[A" 'scroll-down)

(global-set-key "\M-[5C" 'forward-word)
(global-set-key "\M-[5D" 'backward-word)
(transient-mark-mode 1)
;; Lisp mode for anything that ends in .emacs
(setq auto-mode-alist (append '(("\\.emacs$" . lisp-mode))
                              auto-mode-alist))



;; set up css mode
;;(autoload 'css-mode "css-mode" "Major mode for editing css" t)
(setq auto-mode-alist
      (cons '("\\.css\\'" . css-mode) auto-mode-alist))


(setq auto-mode-alist
      (cons '("\\.cs\\'" . java-mode) auto-mode-alist))

(setq auto-mode-alist
      (cons '("\\.dot\\'" . java-mode) auto-mode-alist))


(setq auto-mode-alist
      (cons '("\\.hs\\'" . haskell-mode) auto-mode-alist))


(add-hook 'haskell-mode-hook 'turn-on-haskell-doc-mode)
(add-hook 'haskell-mode-hook 'turn-on-haskell-indent)

(require 'ido)
(ido-mode t)


(load-file "~/.emacs.d/pabbrev.el")
(load-file "~/.emacs.d/json.el")
(load-file "~/.emacs.d/fold.el")
(require 'pabbrev)
(global-pabbrev-mode)


(add-hook 'php-mode-hook 'pabbrev-mode)
;; Substitute the desired version for <version>

;;(load-file "~/.emacs.d/hs-lint.el")
;;(require 'hs-lint)


;;(defun my-haskell-hook ()
  ;;Whenever we open a file in Haskell mode, also activate Scion
  
  ;;(local-set-key "\C-cl" 'hs-lint)
  ;;(scion-mode 1)
  ;; Whenever a file is saved, immediately type check it and
  ;; highlight errors/warnings in the source.
  ;;(scion-flycheck-on-save 1))



(add-hook 'haskell-mode-hook 'my-haskell-hook)

;; Use ido-mode completion (matches anywhere, not just beginning)
;;
;; WARNING: This causes some versions of Emacs to fail so badly
;; that Emacs needs to be restarted.


(setq scion-completing-read-function 'ido-completing-read)
(add-hook 'py-mode-hook 'pabbrev-mode)

(add-hook 'c-mode-hook 'pabbrev-mode)
(add-hook 'haskell-mode-hook 'pabbrev-mode)
(add-hook 'c++-mode-hook 'pabbrev-mode)
(add-hook 'javascript-mode-hook 'pabbrev-mode)





;;(require 'template)
;;(template-initialize)
;;(global-set-key "\M-t" 'template-expand-template)

(put 'downcase-region 'disabled nil)

(require 'magit)
;;(add-hook 'magit-log-edit-mode 'template-expand-template)




(global-set-key "\M-t" 'add-commit-template)


;;  (load "folding" 'nomessage 'noerror)
;;  (folding-mode-add-find-file-hook)
;;  
;;  (folding-add-to-marks-list 'haskell-mode  "--{"  "--}"  nil t)

(add-hook 'haskell-mode-hook 'fold-mode)

(global-set-key "\C-co" 'fold-show-all )
(global-set-key "\C-cu" 'fold-whole-buffer )
(global-set-key "\C-cy" 'fold-show )
(global-set-key "\C-ct" 'fold-region )

(set-buffer-file-coding-system 'unix)


(defun my-revert-buffer()
"revert buffer without asking for confirmation"
(interactive "") 
(revert-buffer t t)
)
(global-set-key "\C-cr" 'revert-buffer )

(define-key global-map "\C-n" 'scroll-up)
(define-key global-map "\C-p" 'scroll-down)

(defun delete-word (arg)
  "Delete characters forward until encountering the end of a word.
With argument, do this that many times."
  (interactive "p")
  (delete-region (point) (progn (forward-word arg) (point))))

(defun backward-delete-word (arg)
  "Delete characters backward until encountering the end of a word.
With argument, do this that many times."
  (interactive "p")
  (delete-word (- arg)))

(define-key global-map "\M-h" 'backward-delete-word)
(define-key global-map "\M-l" 'delete-word)
(define-key global-map "\C-h" 'backward-delete-char)

(global-set-key "\C-k" 'previous-line)
(define-key global-map "\C-j" 'next-line)
(define-key global-map "\C-l" 'kill-line)

(define-key global-map "\C-f" 'forward-char)
(define-key global-map "\C-d" 'backward-char)
(global-set-key "\C-d" 'backward-char)
(define-key global-map "\M-d" 'backward-word)



;; Literate Haskell 


;;            ;; Haskell [requires MMM]

(defvar my-keys-minor-mode-map (make-keymap) "my-keys-minor-mode keymap.")

(define-key my-keys-minor-mode-map (kbd "C-j") 'next-line)
(define-key my-keys-minor-mode-map (kbd "C-d") 'backward-char)

(define-minor-mode my-keys-minor-mode
  "A minor mode so that my key settings override annoying major modes."
  t " my-keys" 'my-keys-minor-mode-map)

(my-keys-minor-mode 1)


; return a backup file path of a give file path
; with full directory mirroring from a root dir
; non-existant dir will be created
(defun my-backup-file-name (fpath)
  "Return a new file path of a given file path.
If the new path's directories does not exist, create them."
  (let (backup-root bpath)
    (setq backup-root "~/.emacs.d/emacs-backup")
    (setq bpath (concat backup-root fpath "~"))
    (make-directory (file-name-directory bpath) bpath)
    bpath
  )
)
(setq make-backup-file-name-function 'my-backup-file-name)

(require 'doxymacs)

(defun my-doxymacs-font-lock-hook ()
    (if (or (eq major-mode 'c-mode) (eq major-mode 'c++-mode))
        (doxymacs-font-lock)))

(add-hook 'c-mode-common-hook 'doxymacs-mode)
(add-hook 'compilation-mode-hook 'next-error-follow-minor-mode)
(add-hook 'font-lock-mode-hook 'my-doxymacs-font-lock-hook)   

(custom-set-variables
  ;; custom-set-variables was added by Custom.
  ;; If you edit it by hand, you could mess it up, so be careful.
  ;; Your init file should contain only one such instance.
  ;; If there is more than one, they won't work right.
 '(comint-move-point-for-output (quote all))
 '(compile-command "scons")
 '(doxymacs-doxygen-dirs (quote (("^/home/srush/Projects/relax_decode/" "~/Projects/relax_decode/doc/scarab.xml" "file:///home/srush/Projects/relax_decode/doc/html/"))))
 '(multi-term-scroll-to-bottom-on-output t)
 '(python-indent 2))
(custom-set-faces
  ;; custom-set-faces was added by Custom.
  ;; If you edit it by hand, you could mess it up, so be careful.
  ;; Your init file should contain only one such instance.
  ;; If there is more than one, they won't work right.
 '(whizzy-error-face ((((class color)) (:background "red"))))
 '(whizzy-slice-face ((((class color)) (:background "blue")))))

(setq auto-mode-alist
      (cons '("SConstruct" . python-mode) auto-mode-alist))
 (setq auto-mode-alist
      (cons '("SConscript" . python-mode) auto-mode-alist))

(load-file "/usr/share/emacs/site-lisp/xcscope.el")
(load-file "~/.emacs.d/multi-term.el")
(require 'xcscope)
(global-set-key "\M-."  'cscope-find-this-symbol)
(global-set-key "\M-p"  'doxymacs-insert-function-comment)
(global-set-key "\M-?"  'doxymacs-lookup)

(setq browse-url-browser-function 'browse-url-generic
      browse-url-generic-program "google-chrome")


(autoload 'multi-term "multi-term" nil t)
(autoload 'multi-term-next "multi-term" nil t)

(setq multi-term-program "/bin/bash")   ;; use bash
;; (setq multi-term-program "/bin/zsh") ;; or use zsh...

;; only needed if you use autopair
(add-hook 'term-mode-hook
  #'(lambda () (setq autopair-dont-activate t)))


(define-prefix-command 'screeny-map)
(global-set-key (kbd "C-a") 'screeny-map)

(define-key screeny-map (kbd "k") 'multi-term-next)
(define-key screeny-map (kbd "j") 'multi-term-prev)
(define-key screeny-map (kbd "c") 'multi-term) ;; create a new one

( add-to-list 'term-unbind-key-list  "C-a" ) 

(load-file "~/.emacs.d/color-theme-blackboard.el")
(require 'color-theme)
(setq color-theme-is-global t)
;(color-theme-tangotango)
(color-theme-blackboard)
;;(autoload 'ansi-color-for-comint-mode-on "ansi-color" nil t)
(add-hook 'shell-mode-hook 'ansi-color-for-comint-mode-on)
(add-hook 'python-mode-hook 'ansi-color-for-comint-mode-on)

(global-font-lock-mode 1)

(defalias 'yes-or-no-p 'y-or-n-p)
;;;;;;;;;;;;;;;;;;;;
;; set up unicode
(prefer-coding-system       'utf-8)
(set-default-coding-systems 'utf-8)
(set-terminal-coding-system 'utf-8)
(set-keyboard-coding-system 'utf-8)
;; This from a japanese individual.  I hope it works.
(setq default-buffer-file-coding-system 'utf-8)
;; From Emacs wiki
(setq x-select-request-type '(UTF8_STRING COMPOUND_TEXT TEXT STRING))
;; MS Windows clipboard is UTF-16LE 

;; Set to the location of your Org files on your local system
(setq org-directory "~/Dropbox/org")
;; Set to the name of the file where new notes will be stored
(setq org-mobile-inbox-for-pull "~/Dropbox/org/inbox.org")
;; Set to <your Dropbox root directory>/MobileOrg.

(setq org-mobile-directory "~/Dropbox/MobileOrg")

(setq org-agenda-files (quote ("~/Dropbox/org/test.org")))
 