
;; This is a SAMPLE .emacs file
;; Feel free to use this as a base for customizing emacs
(server-start)

(load "~/.emacs.d/haskell-mode-2.4/haskell-site-file")

(setq-default py-indent-offset 2)
(menu-bar-mode 0)

(setq-default indent-tabs-mode nil)

;; Switch to visible bell instead of audio bell
(setq-default visible-bell t)
(setq-default bell-inhibit-time 10)

(show-paren-mode t)
(setq show-paren-style 'mixed)

(tool-bar-mode 0)
(menu-bar-mode 0)
(setq-default case-fold-search t)
(global-set-key "\M-g"  'goto-line)
(global-set-key "\M-c"  'compile)

;; Set ctrl-arrow keys to move words/pages
(global-set-key "\M-[C" 'forward-word)
(global-set-key "\M-[D" 'backward-word)
(global-set-key "\M-[B" 'scroll-up)
(global-set-key "\M-[A" 'scroll-down)

(global-set-key "\M-[5C" 'forward-word)
(global-set-key "\M-[5D" 'backward-word)
(transient-mark-mode 1)
;; Lisp mode for anything that ends in .emacs
(setq auto-mode-alist (append '(("\\.emacs$" . lisp-mode))
                              auto-mode-alist))



;; set up css mode
;;(autoload 'css-mode "css-mode" "Major mode for editing css" t)
(setq auto-mode-alist
      (cons '("\\.css\\'" . css-mode) auto-mode-alist))


(setq auto-mode-alist
      (cons '("\\.cs\\'" . java-mode) auto-mode-alist))

(setq auto-mode-alist
      (cons '("\\.hs\\'" . haskell-mode) auto-mode-alist))


(add-hook 'haskell-mode-hook 'turn-on-haskell-doc-mode)
(add-hook 'haskell-mode-hook 'turn-on-haskell-indent)

(require 'ido)
(ido-mode t)


(load-file "~/.emacs.d/pabbrev.el")
(require 'pabbrev)
(global-pabbrev-mode)


(add-hook 'php-mode-hook 'pabbrev-mode)
(add-hook 'py-mode-hook 'pabbrev-mode)

(add-hook 'c-mode-hook 'pabbrev-mode)
(add-hook 'haskell-mode-hook 'pabbrev-mode)
(add-hook 'c++-mode-hook 'pabbrev-mode)
(add-hook 'javascript-mode-hook 'pabbrev-mode)




;;(require 'template)
;;(template-initialize)
;;(global-set-key "\M-t" 'template-expand-template)

(put 'downcase-region 'disabled nil)
;;(add-hook 'magit-log-edit-mode 'template-expand-template)




(global-set-key "\M-t" 'add-commit-template)
(global-set-key "\M-d" 'diffcamp)



